.container {
    position: relative;
    overflow: hidden;
    font-size: var(--modal-claim-countdown-f-s);
    font-weight: var(--modal-claim-countdown-f-w);
    color: var(--modal-claim-countdown-f-c);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(48px - var(--modal-claim-countdown-border-w) * 2);
    border-radius: var(--modal-claim-countdown-radius);
    border-color: var(--modal-claim-countdown-border-c);
    border-width: var(--modal-claim-countdown-border-w);
    border-style: solid;
    z-index: 0;
}

.progress_bar {
    position: absolute;
    background: var(--modal-claim-countdown-progress-c);
    height: 48px;
    left: 0;
    z-index: -1;
    transition: 500ms;
}