/* Dark mode */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --bg: #15171F;
    --header-bg: #15171F;

    --title-f-s: 20px;
    --title-f-w: 500;
    --title-f-c: #E1E6F5;

    --subtitle-f-s: 14px;
    --subtitle-f-w: 400;
    --subtitle-f-c: #E1E6F5;

    --header-btn-bg: transparent;
    --header-btn-f-s: 14px;
    --header-btn-f-w: 500;
    --header-btn-f-c: #7892E8;
    --header-btn-border-w: 2px;
    --header-btn-border-c: #7892E8;

    --rewards-bg: linear-gradient(195deg, rgba(26, 227, 187, 0.26) 0.57%, rgba(75, 109, 222, 0.10) 41.65%, rgba(75, 109, 222, 0.16) 100%);

    --rewards-img-size: 24px;

    --claim-img-bg: #4B6DDE;
    --claim-img-border-w: 0;
    --claim-img-border-c: transparent;
    --claim-img-radius: 50%;

    --pending-img-bg: #4B6DDE;
    --pending-img-border-w: 0;
    --pending-img-border-c: transparent;
    --pending-img-radius: 50%;

    --rewards-text-f-s: 16px;
    --rewards-text-f-w: 500;
    --claim-text-f-c: #fff;
    --pending-text-f-c: #fff;

    --rewards-usd-f-s: 14px;
    --rewards-usd-f-w: 400;
    --claim-usd-f-c: #fff;
    --pending-usd-f-c: #fff;

    --rewards-amount-f-s: 40px;
    --rewards-amount-f-w: 500;

    --claim-amount-f-c: #fff;

    --pending-amount-f-c: #fff;

    --rewards-btn-f-s: 16px;
    --rewards-btn-f-w: 500;
    --rewards-btn-radius: 8px;

    --primary-btn-f-s: 16px;
    --primary-btn-f-w: 500;
    --primary-btn-f-c: #fff;
    --primary-btn-radius: 8px;
    --primary-btn-border-w: 0;
    --primary-btn-border-c: transparent;
    --primary-btn-bg: #4B6DDE;
    --primary-btn-hover-bg: #7892E8;
    --primary-btn-pressed-bg: #A0B3F2;
    --primary-btn-disabled-bg: #242D4F;
    --primary-btn-disabled-f-c: #0B0B0F;

    --pending-btn-f-c: #7892E8;
    --pending-btn-border-c: #7892E8;
    --pending-btn-border-w: 2px;
    --pending-btn-bg: transparent;

    --pending-btn-hover-f-c: #A0B3F2;
    --pending-btn-hover-border-c: #A0B3F2;
    --pending-btn-hover-border-w: 2px;
    --pending-btn-hover-bg: #1F253B;

    --pending-btn-pressed-f-c: #A0B3F2;
    --pending-btn-pressed-border-c: #A0B3F2;
    --pending-btn-pressed-border-w: 2px;
    --pending-btn-pressed-bg: #242D4F;

    --retailer-card-bg: #15171F;
    --retailer-card-border-w: 1px;
    --retailer-card-border-color: #262A38;
    --retailer-card--hover-border-color: #FFFFFF;

    --retailer-card-img-border-c: #262A38;
    --retailer-card-img-border-w: 1px;

    --retailer-logo-fallback-bg: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    --retailer-logo-fallback-f-c: #FFF;
    --retailer-logo-fallback-f-s: 24px;
    --retailer-logo-fallback-f-w: 700;
    --retailer-logo-fallback-line-height: 45px;
    --retailer-logo-fallback-border-w: 1px;
    --retailer-logo-fallback-border-c: rgba(64, 74, 141, 0.50);

    --retailer-card-flag-f-s: 12px;
    --retailer-card-flag-f-w: 700;
    --retailer-card-flag-f-c: #0B0B0F;
    --retailer-card-flag-bg: #08C29D;
    --retailer-card-flag-radius: 4px;

    --retailer-card-name-f-s: 16px;
    --retailer-card-name-f-w: 500;
    --retailer-card-name-f-c: #E1E6F5;

    --retailer-card-amount-f-s: 12px;
    --retailer-card-amount-f-c: #E1E6F5;
    --retailer-card-amount-f-w: 400;
    --retailer-card-amount-bg: #1F232E;

    --deals-amount-f-s: 16px;
    --deals-amount-f-w: 500;
    --deals-amount-f-c: #E1E6F5;

    --loading-msg-f-s: 12px;
    --loading-msg-f-w: 500;
    --loading-msg-f-c: #E1E6F5;

    --filter-btn-f-s: 14px;
    --filter-btn-f-w: 400;
    --filter-btn-f-c: #7892E8;
    --filter-btn-bg: #1F253B;
    --filter-btn-hover-bg: #242D4F;
    --filter-btn-hover-f-c: #A0B3F2;
    --filter-btn-border-w: 0;
    --filter-btn-border-c: transparent;
    --filter-btn-radius: 8px;

    --category-btn-bg: transparent;
    --category-btn-f-s: 14px;
    --category-btn-f-w: 400;
    --category-btn-f-c: #7892E8;
    --category-btn-border-w: 1px;
    --category-btn-border-c: #304489;
    --category-btn-radius: 8px;
    --category-btn-hover-bg: #4B6DDE;
    --category-btn-hover-f-c: #FFFFFF;
    --category-btn-hover-f-w: 400;
    --category-btn-hover-border-w: 0;
    --category-btn-hover-border-c: #A0B3F2;
    --category-btn-hover-radius: 8px;

    --modal-bg: #15171F;
    --modal-overlay-bg: rgba(31, 35, 46, 0.80);
    --modal-border-w: 0;
    --modal-border-c: transparent;
    --modal-radius: 8px;
    --modal-title-f-s: 16px;
    --modal-title-f-w: 500;
    --modal-title-f-c: #E1E6F5;
    --modal-paragraph-f-s: 16px;
    --modal-paragraph-f-w: 400;
    --modal-paragraph-f-c: #E1E6F5;

    --modal-claim-amount-f-s: 40px;
    --modal-claim-amount-f-w: 500;
    --modal-claim-amount-f-c: #E1E6F5;
    --modal-claim-details-bg: #15171F;
    --modal-claim-details-border-w: 1px;
    --modal-claim-details-border-c: #262A38;
    --modal-claim-details-radius: 8px;
    --modal-claim-disclaimer-f-s: 16px;
    --modal-claim-disclaimer-f-w: 400;
    --modal-claim-disclaimer-f-c: #7C85A3;
    --modal-claim-address-bg: linear-gradient(195deg, rgba(26, 227, 187, 0.26) 0.57%, rgba(75, 109, 222, 0.10) 41.65%, rgba(75, 109, 222, 0.16) 100%);
    --modal-claim-address-title-f-s: 16px;
    --modal-claim-address-title-f-w: 400;
    --modal-claim-address-title-f-c: #E1E6F5;
    --modal-claim-address-border-w: 0;
    --modal-claim-address-border-c: transparent;
    --modal-claim-address-radius: 12px;
    --modal-claim-address-f-s: 16px;
    --modal-claim-address-f-w: 400;
    --modal-claim-address-f-c: #fff;
    --modal-claim-tooltip-f-s: 14px;
    --modal-claim-tooltip-f-w: 400;
    --modal-claim-tooltip-f-c: #E1E6F5;

    --modal-claim-countdown-radius: 8px;
    --modal-claim-countdown-border-w: 2px;
    --modal-claim-countdown-border-c: #7892E8;
    --modal-claim-countdown-progress-c: #1F253B;
    --modal-claim-countdown-f-s: 16px;
    --modal-claim-countdown-f-w: 500;
    --modal-claim-countdown-f-c: #7892E8;

    --modal-deal-name-f-s: 20px;
    --modal-deal-name-f-w: 700;
    --modal-deal-name-f-c: #E1E6F5;
    --modal-deal-markdown-bg: #15171F;
    --modal-deal-markdown-border-w: 1px;
    --modal-deal-markdown-border-c: #262A38;
    --modal-deal-markdown-radius: 12px;
    --modal-deal-markdown-f-s: 14px;
    --modal-deal-markdown-f-w: 500;
    --modal-deal-markdown-f-c: #E1E6F5;
    --modal-deal-markdown-bold-f-w: 500;
    --modal-deal-markdown-bold-f-c: #E1E6F5;
    --modal-deal-consent-f-s: 12px;
    --modal-deal-consent-f-w: 400;
    --modal-deal-consent-f-c: #E1E6F5;

    --scrollbar-bg: #c8ccce;
    --scrollbar-w: 14px;

    --search-bg: #15171F;
    --search-f-s: 14px;
    --search-f-w: 400;
    /* Here */
    --search-f-c: #E1E6F5;
    --search-option-f-c: #E1E6F5;
    --search-option-hover-bg: #1F232E;
    --search-radius: 8px;
    --search-border-w: 1px;
    --search-border-c: #A7AFC0;
    --search-placeholder-f-c: #7C85A3;
    --search-scrollbar-bg: #c8ccce;

    --history-title-f-s: 20px;
    --history-title-f-w: 500;
    --history-title-f-c: #E1E6F5;

    --history-back-f-s: 14px;
    --history-back-f-w: 500;
    --history-back-f-c: #E1E6F5;
    --history-back-x-location: 64px;

    --history-table-header-bg: #15171F;
    --history-table-header-border-c: transparent;
    --history-table-header-border-w: 0;
    --history-table-header-radius: 0;

    --history-table-header-f-s: 14px;
    --history-table-header-f-w: 400;
    --history-table-header-f-c: #7C85A3;

    --history-table-row-border-w: 1px;
    --history-table-row-border-c: #3E4457;

    --history-table-row-hover-bg: #3E4457;
    --history-table-row-active-bg: #15171F;
    --history-claimed-icon-bg: #4B6DDE;
    --history-details-btn-bg: #3E4457;
    --history-purchase-name-f-s: 16px;
    --history-purchase-name-f-w: 500;
    --history-purchase-name-f-c: #E1E6F5;

    --history-amount-f-s: 16px;
    --history-amount-f-w: 400;
    --history-amount-f-c: #E1E6F5;

    --history-status-f-s: 16px;
    --history-status-f-w: 400;
    --history-status-f-c: #66F2D6;
    --history-status-canceled-f-c: #FF7196;

    --history-description-f-s: 16px;
    --history-description-f-w: 400;
    --history-description-f-c: #E1E6F5;

    --faq-question-f-s: 16px;
    --faq-question-f-w: 500;
    --faq-question-f-c: #E1E6F5;

    --faq-answer-f-s: 16px;
    --faq-answer-f-w: 400;
    --faq-answer-f-c: #E1E6F5;
}

* {
    font-family: "Rubik", sans-serif;
}