.container {
    width: 1166px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories {
    display: flex;
    gap: 8px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.categories::-webkit-scrollbar {
    display: none;
}

.category {
    font-size: var(--category-btn-f-s);
    font-weight: var(--category-btn-f-w);
    color: var(--category-btn-f-c);
    width: 108px;
    height: 38px;
    padding: 6px 16px;
    white-space: nowrap;
    border-width: var(--category-btn-f-border-w);
    border-style: solid;
    border-color: var(--category-btn-f-border-c);
    background: var(--category-btn-bg);
    cursor: pointer;
    border-radius: 30px;
    transition: .2s;
    user-select: none;
}

.category:hover {
    color: var(--category-btn-clicked-f-c);
    background: var(--category-btn-clicked-bg);
}

.selected {
    color: var(--category-btn-clicked-f-c);
    background: var(--category-btn-clicked-bg);
    font-weight: var(--category-btn-clicked-f-w);
}

.arrow {
    background: none;
    border: none;
    border-radius: 12px;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    z-index: 1;
}

.arrow_right {
    box-shadow: -8px 0px 20px 20px var(--bg);
}

.arrow_left {
    box-shadow: 8px 0px 20px 20px var(--bg);
}

.skeleton {
    background: var(--retailer-card-bg);
    border: none;
}

@media screen and (max-width: 1190px) {
    .container {
        width: 931px;
    }
}

@media screen and (max-width: 990px) {
    .container {
        width: 695px;
    }
}