.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.message {
    color: var(--title-f-c);
    font-size: var(--title-f-s);
    font-weight: var(--title-f-w);
    text-align: center;
    padding: 0 16px;
}