.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title {
    font-size: var(--modal-title-f-s);
    font-weight: var(--modal-title-f-w);
    color: var(--modal-title-f-c);
    margin-bottom: 20px;
    width: 100%;
}

.claim_amount {
    width: 100%;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1px;
    background: var(--claim-amount-f-c);
    background-clip: text;
    color: transparent;
    margin-bottom: 20px;
}

.details {
    --padding: 16px;
    width: calc(100% - var(--padding) * 2);
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: #09132C;
    padding: var(--padding);
    border-radius: 12px;
}

.wallet_address_title {
    color: white;
    margin-left: 4px;
    margin-bottom: 20px;
}

.wallet_address {
    background: white;
    word-wrap: break-word;
    padding: 16px;
    border-radius: 12px;
}

.disclaimer {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    margin-left: 12px;
}

.modal_img {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 22px;
    height: 20px;
}

.sml_text {
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-wrap: nowrap;
    text-align: center;
    margin-bottom: 10px;
}

.sign_btn {
    width: 100%;
    background: var(--primary-btn-bg);
    font-size: var(--primary-btn-f-s);
    font-weight: var(--primary-btn-f-w);
    color: var(--primary-btn-f-c);
    border-width: var(--primary-btn-border-w);
    border-color: var(--primary-btn-border-c);
    border-radius: var(--primary-btn-radius);
    height: 48px;
    cursor: pointer;
}

.disabled {
    background: gray;
}