.overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: var(--modal-overlay-bg);
}

.modal {
    --_modal-bg: var(--custom-modal-bg, var(--modal-bg));
    --padding: 24px;
    margin-top: var(--modal-offset-top);
    position: relative;
    height: var(--modal-h, auto);
    max-height: calc(621px - var(--padding) * 2);
    width: calc(512px - var(--modal-px, var(--padding)) * 2);
    display: flex;
    justify-content: center;
    padding: var(--modal-pt, var(--padding)) var(--modal-px, var(--padding)) var(--modal-pb, var(--padding));
    background: var(--_modal-bg);
    border-width: var(--modal-border-w);
    border-style: solid;
    border-color: var(--modal-border-c);
    border-radius: var(--modal-radius);
    user-select: none;
    -webkit-user-select: none;
}

.close_btn {
    --corner: 32px;
    position: absolute;
    top: var(--modal-close-top, 32px);
    right: var(--modal-close-right, 32px);
    padding: var(--modal-close-pad, 1px 6px);
    z-index: 11;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}

.close_btn img {
    width: var(--modal-close-size, 20px);
    height: var(--modal-close-size, 20px);
}

@media screen and (max-width: 768px) {
    .modal {
        width: calc(345px - var(--padding) * 2);
    }
}

@media screen and (max-height: 710px) {
    .modal {
        margin-top: 0;
    }
}