.overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal {
    --padding: 32px;
    position: relative;
    max-height: calc(621px - var(--padding) * 2);
    width: calc(512px - var(--padding) * 2);
    display: flex;
    justify-content: center;
    padding: var(--padding);
    background: var(--modal-bg);
    border-width: var(--modal-border-w);
    border-style: solid;
    border-color: var(--modal-border-c);
    border-radius: var(--modal-radius);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    user-select: none;
    -webkit-user-select: none;
}

.close_btn {
    --corner: 32px;
    position: absolute;
    top: var(--corner);
    right: var(--corner);
    z-index: 11;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}