.overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: var(--modal-overlay-bg);
}

.modal {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    min-width: 420px;
    max-width: 512px;
    display: flex;
    justify-content: center;
    padding: 24px;
    background: var(--custom-modal-bg, var(--modal-bg));
    border-width: var(--modal-border-w);
    border-style: solid;
    border-color: var(--modal-border-c);
    border-radius: var(--custom-modal-radius, var(--modal-radius));
    user-select: none;
    -webkit-user-select: none;
}

.close_btn {
    position: absolute;
    top: 32px;
    right: 32px;
    padding: 1px 6px;
    z-index: 11;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}

.close_btn img {
    width: 20px;
    height: 20px;
}
