.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    background: var(--header-bg);
    width: 100vw;
    max-width: 100%;
    /* height: 208px; */
    margin-top: 20px;
    margin-bottom: 45.5px;
}

.title {
    color: var(--title-f-c);
    font-size: var(--title-f-s);
    font-weight: var(--title-f-w);
    margin: 0;
}

.subtitle {
    font-size: var(--subtitle-f-s);
    font-weight: var(--subtitle-f-w);
    color: var(--subtitle-f-c);
    margin: 0;
    text-align: center;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90px;
    height: 29px;
    padding: var(--header-btn-p, 0 16px);
    font-size: var(--header-btn-f-s);
    font-weight: var(--header-btn-f-w);
    color: var(--header-btn-f-c);
    border-width: var(--header-btn-border-w);
    border-style: solid;
    border-color: var(--header-btn-border-c);
    border-radius: var(--header-btn-radius, 10px);
    background: var(--header-btn-bg);
    cursor: pointer;
    outline: none;
    transition: .2s;
    text-decoration: none;
}

.btn:hover {
    background: var(--header-btn-hover-bg,var(--header-btn-bg));
    color: var(--header-btn-hover-f-c,var(--header-btn-f-c));
    border-width: var(--header-btn-hover-border-w,var(--header-btn-border-w));
    border-color: var(--header-btn-hover-border-c,var(--header-btn-border-c));
}

.btn:active {
    background: var(--header-btn-pressed-bg,var(--header-btn-bg));
    color: var(--header-btn-pressed-f-c,var(--header-btn-f-c));
    border-width: var(--header-btn-pressed-border-w,var(--header-btn-border-w));
    border-color: var(--header-btn-pressed-border-c,var(--header-btn-border-c));
}

@media screen and (max-width:1190px) {
    .header {
        margin-bottom: 27px;
    }
}