@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg: #fff;
    --header-bg: #fff;

    --title-f-s: 20px;
    --title-f-w: 500;
    --title-f-c: black;

    --subtitle-f-s: 14px;
    --subtitle-f-w: 400;
    --subtitle-f-c: #242838;

    --header-btn-bg: transparent;
    --header-btn-f-s: 14px;
    --header-btn-f-w: 500;
    --header-btn-f-c: #4B6DDE;
    --header-btn-border-w: 2px;
    --header-btn-border-c: #4B6DDE;

    --rewards-bg: linear-gradient(312deg, #C6F7ED 0%, #E4E8F7 70.58%);

    --rewards-img-size: 20px;

    --claim-img-bg: #4B6DDE;
    --claim-img-border-w: 0;
    --claim-img-border-c: transparent;
    --claim-img-radius: 50%;

    --pending-img-bg: #4B6DDE;
    --pending-img-border-w: 0;
    --pending-img-border-c: transparent;
    --pending-img-radius: 50%;

    --rewards-text-f-s: 16px;
    --rewards-text-f-w: 500;
    --claim-text-f-c: black;
    --pending-text-f-c: black;

    --rewards-usd-f-s: 14px;
    --rewards-usd-f-w: 400;
    --claim-usd-f-c: black;
    --pending-usd-f-c: black;

    --rewards-amount-f-s: 35px;
    --rewards-amount-f-w: 500;

    --claim-amount-f-c: black;

    --pending-amount-f-c: black;

    --rewards-btn-f-s: 16px;
    --rewards-btn-f-w: 500;
    --rewards-btn-radius: 8px;

    --primary-btn-f-s: 16px;
    --primary-btn-f-w: 500;
    --primary-btn-f-c: #fff;
    --primary-btn-radius: 8px;
    --primary-btn-border-w: 0;
    --primary-btn-border-c: transparent;
    --primary-btn-bg: #4B6DDE;
    --primary-btn-hover-bg: #3154CB;
    --primary-btn-pressed-bg: #1737A3;
    --primary-btn-disabled-bg: #C4CFF5;
    --primary-btn-disabled-f-c: #fff;

    --pending-btn-f-c: #4B6DDE;
    --pending-btn-border-c: #4B6DDE;
    --pending-btn-border-w: 2px;
    --pending-btn-bg: transparent;

    --pending-btn-hover-f-c: #3154CB;
    --pending-btn-hover-border-c: #3154CB;
    --pending-btn-hover-border-w: 2px;
    --pending-btn-hover-bg: #E4E8F7;

    --pending-btn-pressed-f-c: #3154CB;
    --pending-btn-pressed-border-c: #3154CB;
    --pending-btn-pressed-border-w: 2px;
    --pending-btn-pressed-bg: #C4CFF5;

    --retailer-card-bg: #fff;
    --retailer-card-border-w: 1px;
    --retailer-card-border-color: #DCE0E9;
    --retailer-card--hover-border-color: #242838;

    --retailer-card-img-border-c: #DCE0E9;
    --retailer-card-img-border-w: 1px;

    --retailer-logo-fallback-bg: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    --retailer-logo-fallback-f-c: #FFF;
    --retailer-logo-fallback-f-s: 37px;
    --retailer-logo-fallback-f-s-two-letters: 24px;
    --retailer-logo-fallback-f-w: 700;
    --retailer-logo-fallback-line-height: 45px;
    --retailer-logo-fallback-border-w: 1px;
    --retailer-logo-fallback-border-c: rgba(64, 74, 141, 0.50);

    --retailer-card-flag-f-s: 12px;
    --retailer-card-flag-f-w: 500;
    --retailer-card-flag-f-c: #fff;
    --retailer-card-flag-bg: #08C29D;
    --retailer-card-flag-radius: 4px;

    --retailer-card-name-f-s: 16px;
    --retailer-card-name-f-w: 500;
    --retailer-card-name-f-c: #242838;

    --retailer-card-amount-f-s: 12px;
    --retailer-card-amount-f-c: #242838;
    --retailer-card-amount-f-w: 500;
    --retailer-card-amount-bg: #EAEDF2;

    --deals-amount-f-s: 16px;
    --deals-amount-f-w: 500;
    --deals-amount-f-c: #242838;

    --loading-msg-f-s: 12px;
    --loading-msg-f-w: 500;
    --loading-msg-f-c: #fff;

    --filter-btn-f-s: 14px;
    --filter-btn-f-w: 400;
    --filter-btn-f-c: #4B6DDE;
    --filter-btn-bg: #E4E8F7;
    --filter-btn-hover-bg: #C4CFF5;
    --filter-btn-hover-f-c: #4B6DDE;
    --filter-btn-border-w: 0;
    --filter-btn-border-c: transparent;
    --filter-btn-radius: 8px;

    --category-btn-bg: transparent;
    --category-btn-f-s: 14px;
    --category-btn-f-w: 400;
    --category-btn-f-c: #4B6DDE;
    --category-btn-border-w: 1px;
    --category-btn-border-c: #A0B3F2;
    --category-btn-radius: 8px;
    --category-btn-hover-bg: #4B6DDE;
    --category-btn-hover-f-c: #fff;
    --category-btn-hover-f-w: 400;
    --category-btn-hover-border-w: 0;
    --category-btn-hover-border-c: #A0B3F2;
    --category-btn-hover-radius: 8px;

    --modal-offset-top: -112px;
    --modal-bg: #fff;
    --modal-overlay-bg: #0000007a;
    --modal-border-w: 0;
    --modal-border-c: transparent;
    --modal-radius: 8px;
    --modal-title-f-s: 16px;
    --modal-title-f-w: 500;
    --modal-title-f-c: #242838;
    --modal-paragraph-f-s: 16px;
    --modal-paragraph-f-w: 400;
    --modal-paragraph-f-c: #242838;

    --modal-claim-amount-f-s: 40px;
    --modal-claim-amount-f-w: 500;
    --modal-claim-amount-f-c: #242838;
    --modal-claim-details-bg: #fff;
    --modal-claim-details-border-w: 1px;
    --modal-claim-details-border-c: #DCE0E9;
    --modal-claim-details-radius: 8px;
    --modal-claim-disclaimer-f-s: 16px;
    --modal-claim-disclaimer-f-w: 400;
    --modal-claim-disclaimer-f-c: black;
    --modal-claim-address-bg: linear-gradient(180deg, #E4E8F7 0%, #C6F7F7 100%);
    --modal-claim-address-title-f-s: 16px;
    --modal-claim-address-title-f-w: 400;
    --modal-claim-address-title-f-c: #242838;
    --modal-claim-address-border-w: 0;
    --modal-claim-address-border-c: transparent;
    --modal-claim-address-radius: 12px;
    --modal-claim-address-f-s: 16px;
    --modal-claim-address-f-w: 400;
    --modal-claim-address-f-c: #071317;
    --modal-claim-tooltip-f-s: 14px;
    --modal-claim-tooltip-f-w: 400;
    --modal-claim-tooltip-f-c: #242838;

    --modal-claim-countdown-radius: 8px;
    --modal-claim-countdown-border-w: 2px;
    --modal-claim-countdown-border-c: #4B6DDE;
    --modal-claim-countdown-progress-c: #E4E8F7;
    --modal-claim-countdown-f-s: 16px;
    --modal-claim-countdown-f-w: 500;
    --modal-claim-countdown-f-c: #4B6DDE;

    --modal-deal-name-f-s: 20px;
    --modal-deal-name-f-w: 700;
    --modal-deal-name-f-c: #242838;
    --modal-deal-markdown-bg: #fff;
    --modal-deal-markdown-border-w: 1px;
    --modal-deal-markdown-border-c: #DCE0E9;
    --modal-deal-markdown-radius: 12px;
    --modal-deal-markdown-f-s: 14px;
    --modal-deal-markdown-f-w: 500;
    --modal-deal-markdown-f-c: #242838;
    --modal-deal-markdown-bold-f-w: 500;
    --modal-deal-markdown-bold-f-c: #242838;
    --modal-deal-consent-f-s: 12px;
    --modal-deal-consent-f-w: 400;
    --modal-deal-consent-f-c: #242838;

    --modal-status-title-f-s: 30px;
    --modal-status-title-f-w: 500;
    --modal-status-title-success-f-c: #08C29D;
    --modal-status-title-failure-f-c: #FF1351;

    --modal-status-msg-f-s: 16px;
    --modal-status-msg-f-w: 400px;
    --modal-status-msg-f-c: #242838;

    --modal-status-btn-bg: #4B6DDE;
    --modal-status-btn-f-s: 16px;
    --modal-status-btn-f-w: 500;
    --modal-status-btn-f-c: #FFF;
    --modal-status-btn-border-w: 0;
    --modal-status-btn-border-c: transparent;
    --modal-status-btn-radius: 8px;

    --modal-status-btn-hover-bg: #3154CB;
    --modal-status-btn-hover-f-s: 16px;
    --modal-status-btn-hover-f-w: 500;
    --modal-status-btn-hover-f-c: #FFF;
    --modal-status-btn-hover-border-w: 0;
    --modal-status-btn-hover-border-c: transparent;
    --modal-status-btn-hover-radius: 8px;

    --modal-status-btn-disabled-bg: var(--primary-btn-disabled-bg);
    --modal-status-btn-disabled-f-s: 16px;
    --modal-status-btn-disabled-f-w: 500;
    --modal-status-btn-disabled-f-c: var(--primary-btn-disabled-f-c);
    --modal-status-btn-disabled-border-w: 0;
    --modal-status-btn-disabled-border-c: transparent;
    --modal-status-btn-disabled-radius: 8px;

    --scrollbar-bg: #c8ccce;
    --scrollbar-w: 14px;

    --search-bg: #fff;
    --search-f-s: 14px;
    --search-f-w: 400;
    --search-f-c: #242838;
    --search-option-f-c: #242838;
    --search-option-hover-bg: #F0F3F5;
    --search-radius: 8px;
    --search-border-w: 1px;
    --search-border-c: #A7AFC0;
    --search-placeholder-f-c: #6B7384;
    --search-scrollbar-bg: #c8ccce;

    --history-title-f-s: 20px;
    --history-title-f-w: 500;
    --history-title-f-c: #242838;

    --history-back-f-s: 14px;
    --history-back-f-w: 500;
    --history-back-f-c: #242838;
    --history-back-x-location: 64px;

    --history-table-header-bg: #fff;
    --history-table-header-border-c: transparent;
    --history-table-header-border-w: 0;
    --history-table-header-radius: 0;

    --history-table-header-f-s: 14px;
    --history-table-header-f-w: 400;
    --history-table-header-f-c: #6B7384;

    --history-table-row-border-w: 1px;
    --history-table-row-border-c: #DCE0E9;

    --history-table-row-hover-bg: #EAEDF2;
    --history-table-row-active-bg: #fff;
    --history-claimed-icon-bg: #4B6DDE;
    --history-details-btn-bg: #DCE0E9;
    --history-purchase-name-f-s: 16px;
    --history-purchase-name-f-w: 500;
    --history-purchase-name-f-c: #242838;

    --history-amount-f-s: 16px;
    --history-amount-f-w: 400;
    --history-amount-f-c: #242838;

    --history-status-f-s: 16px;
    --history-status-f-w: 400;
    --history-status-f-c: #08C29D;
    --history-status-canceled-f-c: #FF1351;

    --history-description-f-s: 16px;
    --history-description-f-w: 400;
    --history-description-f-c: #242838;

    --faq-question-f-s: 16px;
    --faq-question-f-w: 500;
    --faq-question-f-c: #242838;

    --faq-answer-f-s: 16px;
    --faq-answer-f-w: 400;
    --faq-answer-f-c: #242838;
}

* {
    font-family: "Poppins", sans-serif;
}