.search {
    position: relative;
    width: 440px;
    min-width: 280px;
    max-width: 440px;
}

.no_results_title {
    font-size: var(--search-no-results-f-s, 15px);
    font-weight: var(--search-no-results-f-w, 500);
    line-height: var(--search-no-results-l-h, 22px);
    color: var(--search-option-f-c);
}

.no_results_hint {
    font-size: var(--search-no-results-hint-f-s, 14px);
    font-weight: var(--search-no-results-hint-f-w, 400);
    line-height: var(--search-no-results-hint-l-h, 20px);
    color: var(--search-no-results-hint-f-c, var(--search-option-f-c));
}
