.container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: var(--history-title-f-s);
    font-weight: var(--history-title-f-w);
    color: var(--history-title-f-c);
    margin: 0;
    margin-bottom: 65px;
}

.faq_container {
    width: 60%;
    max-width: 1167px;
}

.back_btn {
    position: fixed;
    display: flex;
    align-items: center;
    gap: 6px;
    top: calc(32px + 37px);
    left: var(--history-back-x-location);
    text-decoration: none;
    font-size: var(--history-back-f-s);
    font-weight: var(--history-back-f-w);
    color: var(--history-back-f-c);
    transition: .2s;
}

.collapsible {
    color: var(--history-purchase-name-f-c);
    border-bottom-width: var(--history-table-row-border-w);
    border-bottom-style: solid;
    border-bottom-color: var(--history-table-row-border-c);
    padding: 20px 26px;
    transition: .2s;
    word-wrap: break-word;
}

.collapsible_open {
    background: var(--history-table-row-active-bg);
}

.question_container {
    min-height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question {
    font-size: var(--faq-question-f-s);
    font-weight: var(--faq-question-f-w);
    color: var(--faq-question-f-c);
}

.answer_container {
    overflow: hidden;
}

.details_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--history-details-btn-bg);
    transition: .2s;
    cursor: pointer;
}

.rotate {
    transform: rotate(180deg);
}

.p,
.pre {
    font-size: var(--faq-answer-f-s);
    font-weight: var(--faq-answer-f-w);
    color: var(--faq-answer-f-c);
    line-height: 24px;
}

.pre {
    padding-left: 32px;
}

.link_btn {
    background: transparent;
    border: none;
    text-decoration: underline;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    color: var(--history-purchase-name-f-c);
}

@media (hover: hover) {
    .collapsible:hover {
        border-color: transparent;
        background: var(--history-table-row-hover-bg);
    }

    .back_btn:hover {
        font-size: var(--history-back-hover-f-s);
        font-weight: var(--history-back-hover-f-w);
        color: var(--history-back-hover-f-c);
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin-top: 40px;
    }

    .faq_container {
        width: 343px;
    }

    .collapsible_open {
        background: var(--history-table-row-hover-bg);
    }

    .collapsible {
        background: var(--history-table-row-hover-bg);
        margin-bottom: 12px;
        border-bottom: none;
    }

    .title {
        margin-bottom: 31px;
    }

    .back_btn {
        position: absolute;
        top: calc(40px + 37px);
        left: calc(50vw - 171px);
    }

    .back_btn_text {
        display: none;
    }
}