.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 138px;
    height: 118px;
    padding: 17.659px 43.211px 19px 42.56px;
    background: var(--retailer-card-bg);
    border-width: var(--retailer-card-border-w);
    border-style: solid;
    border-color: var(--retailer-card-border-color);
    border-radius: 9px;
    cursor: pointer;
    user-select: none;
    transition: .2s;
}

.card:hover {
    border-color: var(--retailer-card--hover-border-color);
}

.card:active {
    border-color: var(--retailer-card--hover-border-color);
}

.logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-width: var(--retailer-card-img-border-w);
    border-style: solid;
    border-color: var(--retailer-card-img-border-c);
    border-radius: 50%;
    margin-bottom: 6px;
}

.logo {
    object-fit: contain;
    width: 58px;
    height: 58px;
    border-radius: 50%;
}

.fallback_img {
    color: black;
    font-size: 10px;
    font-weight: 900;
}

.retailer_name {
    font-size: var(--retailer-card-name-f-s);
    font-weight: var(--retailer-card-name-f-w);
    color: var(--retailer-card-name-f-c);
    white-space: nowrap;
    line-height: 20.8px;
}

.cashback_rate {
    font-size: var(--retailer-card-amount-f-s);
    font-weight: var(--retailer-card-amount-f-w);
    color: var(--retailer-card-amount-f-c);
    background: var(--retailer-card-amount-bg);
    padding: 6px;
    width: 140px;
    border-radius: 50px;
    text-align: center;
    white-space: nowrap;
}

.flag {
    position: absolute;
    top: 10px;
    right: 0;
    width: 50px;
    height: 12px;
    font-size: var(--retailer-card-flag-f-s);
    font-weight: var(--retailer-card-flag-f-w);
    line-height: 12px;
    vertical-align: middle;
    text-align: center;
    padding: 5px 0;
    color: var(--retailer-card-flag-f-c);
    background: var(--retailer-card-flag-bg);
    border-top-left-radius: var(--retailer-card-flag-radius);
    border-bottom-left-radius: var(--retailer-card-flag-radius);
}

.skeleton,
.skeleton_logo,
.skeleton_retailer_name,
.skeleton_cashback_rate {
    background: var(--retailer-card-amount-bg);
}

.skeleton_logo {
    width: 62px;
    height: 62px;
    border-radius: 50%;
}

.skeleton_retailer_name {
    width: 55px;
    height: 19px;
    border-radius: 20px;
}

.skeleton_cashback_rate {
    width: 117px;
    height: 25px;
    border-radius: 20px;
}