.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 20px;
}

.title {
    margin-top: 11px;
    margin-bottom: 17px;
    font-size: var(--modal-title-f-s);
    font-weight: var(--modal-title-f-w);
    color: var(--modal-title-f-c);
    width: 100%;
    line-height: 24px;
    text-align: center;
}

.subtitle {
    font-size: var(--modal-paragraph-f-s);
    font-weight: var(--modal-paragraph-f-w);
    color: var(--modal-paragraph-f-c);
    margin-bottom: 17px;
    line-height: 22px;
    text-align: center;
}

.btn {
    display: flex;
    padding: 13px 24px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    background: var(--primary-btn-bg);
    font-size: var(--primary-btn-f-s);
    font-weight: var(--primary-btn-f-w);
    color: var(--primary-btn-f-c);
    border-width: var(--primary-btn-border-w);
    border-style: solid;
    border-color: var(--primary-btn-border-c);
    border-radius: var(--primary-btn-radius);
    text-decoration: none;
    cursor: pointer;
    transition: .2s;
}

.btn:hover {
    background: var(--primary-btn-hover-bg);
}

.btn:disabled {
    background: var(--primary-btn-disabled-bg);
    color: var(--primary-btn-disabled-f-c);
}